*{
    margin: 0 ;
    padding: 0;
}
.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: aquamarine;
    padding: 25px;
}
.header-right{
    display: grid;
    grid-template-columns: 1fr 1fr
}
